@{
    ViewData["Title"] = "Home ";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to our main page <a href="https://www.ikuzma.pl"> and write to us to know more about mining crypto</a>.</p>
</div>
